* {
    border: 1px solid grey;
}

.box {
    display: flex;
    /* flex-wrap: wrap; */
    min-height: 120px;
    align-items: center;
    justify-content: space-evenly;
}

/* #wide {
    min-width: 100px;
}
.box > div {
    min-width: 100px;
    /* flex-grow: 1; 
} */

.box > div:first-child {
    flex: initial;
}

.box > div:not(:first-child) {
    flex: 0 1 100px;
}
